*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #f79292cb;
    --secondary-color: #ffcb8fcb;
    --tertiary-color: #a57946ec;
    --background-color: #f3f2f2ff;
}

body{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

section{
    padding: 60px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.flex-row{
    display: flex;
}

.section-title{
    background-color: var(--tertiary-color);
    border-bottom: 3px solid;
    color: white;
    font-size: 30px;
    padding: 10px 10px;
    text-align: left;
    width: fit-content;
}

.bg{
    background-color: var(--background-color);
}

/* Header Style */
header{
    padding: 60px;
    text-align: right;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

header a{
    color: black;
    text-decoration: none;
    margin: 0 auto;
}

header nav{
    margin: 7px 0;
}

header nav ul li a{
    font-size: 40px;
    padding: 10px 15px;
    background: linear-gradient(to left, var(--secondary-color), var(--secondary-color));
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 1s 0s;
    display: inline-block;
    /* credit to Fabrizio Calderan on StackOverflow 
    (https://stackoverflow.com/questions/52641628/sweep-to-the-right-transition-css) */
}
  
header nav ul li a:hover{
    background-size: 100% 100%;
    text-decoration: underline;
}

header nav ul{
    flex-wrap: wrap;
    list-style: none;
}
/* End Header Style */


/* Title Name Style */
.title-name{
    background-color: var(--primary-color);
    padding: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}
/* End Title Name Style */


/* About Me Style */
#about-me img{
    height: 200px;
    margin-left: 60px;
    margin-top: 20px;
}

.about-info{
    display: flex;
}

.about-info p{
    margin: 20px 60px;
}
/* End About Me Style */


/* Works Style */
.best-work{
    display: inline-block;
    padding: 30px;
    padding-bottom: 0px;
    margin: 0 25%;
}

.best-work img{
    height: 250px;
}

.work{
    padding: 30px;
    height: 200px;
}

.works-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* End Works Style */


/* To Contact Style */
#contact-me img{
    height: 100px;
    border-width: 3px;
    border: black;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.contact-info p{
    padding: 30px;
}

.contact-button{
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    font-size: 16px;
    padding: 15px 0;
    text-align: center;
    width: 50%;
    margin-left: 60px;
}

.contact-button:hover{
    background: var(--secondary-color);
}

.contact-button a{
    text-decoration: none;
    color: black;
}
/* End To Contact Style */


/* Footer Style */
footer{
    padding: 10px;
    margin-top: 30px;
    text-align: right;
    background-color: var(--background-color);
    
}

footer h4{
    font-size: 15px;
    padding: 5px;
    display: block;
    margin-left: 70%;
    background-color: var(--secondary-color);
}
/* End Footer Style */


/* Media query for SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px){
    header{
        position: relative;

    }

    .section-title{
        width: 100%;
    }

    .about-info{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .works-info{
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .contact-info{
        margin-left: 50px;
        margin-right: 50px;
    }

    .contact-button{
        display: block;
        margin: 0 auto;
    }

    footer h4{
        width: 40%;
        margin-left: auto;
    }
}

/* Media query for TABLETS AND SMALLER */
@media screen and (max-width: 768px){
    .about-info{
        margin: 0 auto;
    }

    .best-work{
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    footer h4{
        width: 50%;
    }
}

/* Media query for MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px){
    .about-info{
        display: block;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .about-info img{
        margin-right: 50px;
    }

    .best-work{
        padding-left: 3px;
    }

    footer h4{
        width: 70%;
    }
}